* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sector_4 {
  width: 100%;
  background: black;
  padding: 25px 0px 45px 0px;
  /* display: flex; */
}
.sector_4 .title {
  height: 181.98px;
  position: relative;
}
.sector_4 .title h2 {
  font-size: 55px;
  line-height: 1.0363em;
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  max-width: 100vw;
  width: 100%;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 12px);
  gap: 30px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.carousel:where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel.no-transition{
    scroll-behavior: auto;
}

.carousel.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card{
    cursor: grab;
    user-select: none;
}

.carousel .card {
  scroll-snap-align: start;
  list-style: none;
  cursor: pointer;
  transition: all 0.5s;
}

.carousel .card:hover{
    transform: scale(1.19);
}

.card .img img {
  width: 24vw;
  height: 200px;
  object-fit: cover;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel{
        grid-auto-columns: calc((100% / 2) - 2px);
    }
    .card .img img {
        width: 47vw;
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel{
        grid-auto-columns: 100%;
    }
    .card .img img {
        width: 100vw;
    }
}
